In [ ]:
a = 23
b = 3.111
c = "hello"
d = True
e = None

In [ ]:
fruits = ["apple", "banana", "cherry"]
coords = (3, 3, 2) 
items = {12,5,2,12,3}
person = {"name": "John", "age": 36, "country": "Norway"}

In [ ]:
10//3

In [ ]:
x = 5
x < 10 and x > 3

In [ ]:
a = [2,5,6,12,11,21,22,51]

In [ ]:
11 in a

input and output

In [6]:
name = input('Enter name')
college = input("College name")
age = int(input('age')) # int casting
height = float(input('height')) # float casting

In [11]:
print("Your details")
print(name)
print(college)
print('Age', age)
print('Height', height, 'ft')

Your details
Alexa
BBDC
Age 21
Height 5.9 ft

In [16]:
print('Name:',name, '| College:', college, '| Age:', age)

Name: Alexa | College: BBDC | Age: 21

In [18]:
print(f'My name is {name}, I am {age} years old')

My name is Alexa, I am 21 years old

In [20]:
p = int(input('Enter a number'))
r = float(input('Enter rate'))
t = int(input('Enter time'))
si = p*r*t/100
print(f'➡️Principal = {p}')
print(f'➡️Rate = {r}')
print(f'➡️Time = {t}')
print('--'*10)
print(f'➡️Simple Interest = {si}')

Principal = 200000
Rate = 1.23
Time = 10
--------------------
➡️Simple Interest = 24600.0